html, body {
  height: 100%;
  margin: 0;
}
body {
  background-color: #fff;
  font-family: sans-serif;
  overflow: hidden;
}
table.blockly {
  -height: 100%;
  height: 60%;
  width: 100%;
}
#blocklyArea {
  -height: 99%;
  height: 60%;
}

.icon-button {
    border-radius: 50%;
    cursor: pointer;
}

.editor-dialog .turtle, 
.editor-dialog .ui-input-text,
.editor-dialog .icon-button {
    margin: 0px 10px;
}
.editor-dialog .ui-input-text {
    display: inline-block;
    font-size: 25px;
    padding-left: 15px;
}
.editor-dialog .icon-button {
    border: 2px solid black;
    font-size: 60px;
}
.editor-dialog .icon-button-disabled {
    color: #bbb;
    border-color: #bbb;
}
            
.cmd-button-utils-container span {
    font-size: 20px;
}

.cmd-button-container div.cmd-button {
    -display: inline-block;
}
.cmd-button-container div.cmd-button button.main-button span {
    vertical-align: text-bottom;
}
.cmd-button-container div.cmd-button button.main-button span.label {
    margin-right: 8px;
}
.cmd-button-container div.cmd-button button.main-button .icon {
    margin-left: 6px;
    font-size: 20px; 
    border-radius: 50%;
    
    border: 2px solid #bbb;
    color: #bbb;
} 
.cmd-button-container div.cmd-button button.main-button .icon-inactive {
    color: #000;
    border-color: #000;
}
.cmd-button-container div.cmd-button .icon-button {
    font-size: 30px;
    vertical-align: middle;
    margin-bottom: 4px;
    margin-left: 15px; 
    margin-right: 15px; 
}
