
.turtle {
    display: inline-block;
    position: relative;
}
.turtle .body {
    border-radius: 30%;
    background-color: #bbb;
    position: absolute;
}

.turtle .wheel {
    border-radius: 15%;
    background-color: #f8f844;
    position: absolute;
}

.turtle .double-arrow {
    position: absolute;
    font-size: 0px;
}
.turtle .led {
    border: 0px;
    margin: 0px;
    position: absolute;
    font-size: 0px;
}

.turtle .double-arrow:hover {
    filter: drop-shadow( 0px 0px 10px #f00 );
}
